extends layout
block content
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(rel='stylesheet',href='/stylesheets/contact.css')
    script(src='/js/contact.js')
    include navbar
    section#contact.mySection
        div#contact-container.container-fluid
            div#contact-div1
                div#contact-img
                    img(src='/img/24.png')
                div.contact-div-div 生产
                div.contact-div-div 销售
                div.contact-div-div 售后
            div#contact-div2
                div.contact-div-span.contact-tip
                    span#contact-span1 本公司设有专业的销售经理、售后工程师，可上门为实际操作中遇到问题的用户提供具有针对性的解决方案
                div.contact-div-span
                    span#contact-span2 购买本公司产品后可按照产品附赠的质量保证书进行质保。
                div#contact-div-span3
                    span 咨询电话：0376-67668858（咨询时间：8：00-18：00）
    include footer