block content
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet',href='stylesheets/footer.css')
    script(src='libs/jquery/dist/jquery.min.js')
    script(src='libs/bootstrap/dist/js/bootstrap.js')
    script(src='js/footer.js')
section#footer.mySection
    div#myFooter.container-fluid
        div#footer-bran-div
            ul#footer-bran-ul

        div#footer-div

            ul
                li#footer-cname-li
                    span |
                li#footer-address-li
                li#footer-tel-li
                    span 联系方式：
                    a#footer-tel-a(href='tel:#')
            div#beian
                span Copyright © 郑州贝利 2020 All Rights Reserved 备案号
                a(href='http://www.beian.miit.gov.cn' target='_blank') 豫ICP备20005746号-1
