block content
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/footer.css')
    script(src='libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.js')
    script(src='/js/footer.js')
section#footer.mySection
    div#myFooter.container-fluid
        div#footer-bran-div
            ul
                li
                    a(href='#') 淘宝
                li
                    a(href='#') 天猫
                li
                    a(href='#') 京东
                li
                    a(href='#') 唯品会
                li
                    a(href='#') 技术支持/客户服务
        div#footer-div

            ul
                li#footer-cname-li
                    span |
                li#footer-address-li
                li#footer-tel-li
                    span 联系方式：
                    a#footer-tel-a(href='tel:#')