extends layout
block content
  script(src='/js/index.js')
  meta(name='viewport',content='width=device-width,initial-scale=1')
  section.header-area
     nav.nav.navbar-fixed-top.navbar-inverse
        div.container
            div.navbar-header
                button.navbar-toggle(data-toggle="collapse",data-target="#menu")
                    //span.sr-only toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a#cname.navbar-brand.nav-a(href="#")
            div#menu.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.nav-item
                        a.page-scroll.nav-a.nav-active(href="#home") 首页
                    li.nav-item
                        a.page-scoll.nav-a(href='#product') 全部产品
                    li.nav-item
                        a.page-scoll.nav-a(href="#new") 新闻活动
                    li.nav-item
                        a.page-scoll.nav-a(href="#introdution") 公司简介
                    li.nav-item
                        a.page-scoll.nav-a(href="#contact") 技术支持/客户服务
     div#home
        div.carousel.slide#mycarousel(data-ride='carousel',data-interval='2000')
            //轮播指标
            ol#carousel-ol.carousel-indicators
                li.active(data-target='#mycarousel',data-slide-to='0')
                //li(data-target='#mycarousel',data-slide-to='1')
                //li(data-target='#mycarousel',data-slide-to='2')
            //轮播项目
            div#carousel-div.carousel-inner
                //div.item.active
                //    img.carousel-img(src='/img/slider-1.jpg')
                //div.item
                //    img.carouser-img(src='/img/slider-2.jpg')
                //div.item
                //    img.carousel-img(src='/img/slider-3.jpg')
            //轮播导航
            a.carousel-control.left(href='#mycarousel',data-slide='prev')
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
            a.carousel-control.right(href='#mycarousel',data-slide='next')
                span.glyphicon.glyphicon-menu-right(aira-hidden='true')
  section.mySection
     div#product.container

        p.myHr
            span 全部产品
        br
        br
        br
        br
        br
        br
        br
        br

        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
  section#new.mySection
      div.container
          p.myHr
              span 新闻活动
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
  section#introdution.mySection
      div.container
          p.myHr
              span 公司简介
  section#contact.mySection
      div.container
          span.text-center 为什么选择我们