extends layout
block content
  script(src='/js/index.js')
  meta(name='viewport',content='width=device-width,initial-scale=1')

  include navbar
  section.mySection

    div.container-fluid
     div#home
        div.carousel.slide#mycarousel(data-ride='carousel',data-interval='5000')
            //轮播指标
            //- ol#carousel-ol.carousel-indicators
            //-     li.active(data-target='#mycarousel',data-slide-to='0')
                //li(data-target='#mycarousel',data-slide-to='1')
                //li(data-target='#mycarousel',data-slide-to='2')
            //轮播项目
            div#carousel-div.carousel-inner
                //div.item.active
                //    img.carousel-img(src='/img/slider-1.jpg')
                //div.item
                //    img.carouser-img(src='/img/slider-2.jpg')
                //div.item
                //    img.carousel-img(src='/img/slider-3.jpg')
            //轮播导航
            a.carousel-control.left(href='#mycarousel',data-slide='prev')
                span.glyphicon.glyphicon-menu-left(aria-hidden='true')
            a.carousel-control.right(href='#mycarousel',data-slide='next')
                span.glyphicon.glyphicon-menu-right(aira-hidden='true')
  section.mySection
     div#product.container
        div
            p.myHr
                span 全部品牌
        div#all-product
  section#new.mySection
      div.container
          div
              p.myHr
                  span 新闻活动
              div.newList
                  img(src="", alt="")
  section#introdution.mySection
      div.container
          div
              p.myHr
                  span 公司简介
              div#introduction-div
                  p#introduction-p

  section.mySection
      div#why-container.container-fluid
          div#why-div
              div#greyDiv.smallStyle
                div#bigDiv 
                div#blackDiv
                    img#hourImg(src='/img/24.png')
              div#why-text-div
                  span#why-h1-span 为什么选择我们
                  p#why-p
                  span#why-span 热枕欢迎国内外客商前来洽谈合作。
  include footer