extends layout
block content
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(rel='stylesheet',href='/stylesheets/product.css')
    include navbar
    section#mySection
        div#bran-product-div.container
            div
                p.myHr
                    span 全部产品
    include footer