/*footer*/

#myFooter {
    padding: 0;
}
#footer-bran-div {
    padding: 10.5vw 12.6vw;
    background-color:rgb(49,49,49);
    height: 26vw;
    min-height: 250px;
}
#footer-bran-div ul{
    position: relative;
    top: 40%;
}
#footer-bran-div ul li {
    margin-bottom: 0.012vw;
}
#footer-bran-div ul li > a {
    color: rgba(232,232,232,0.5);
    text-decoration: none;
    font-size: 0.0094vw;
    font-family: "Hiragino Sans GB";
}
#footer-bran-div ul li > a:hover {
    color: rgba(232,232,232,1);
}
#footer-div ul li > a {
    color: rgb(154,153,152);
    text-decoration: none;
    font-size: 1vw;
}
#footer-bran-div ul li > a:hover {
    color: rgb(255,255,255);
}
#footer-div {
    width: 100%;
    background-color: rgb(0,0,1);
    padding: 4% 8%;
}
#footer-div > ul {
}
#footer-div > ul > li {

    display: inline;
    color: rgb(154,153,152);
    font-size: 1vw;
    margin-right: 4%;
}
#footer-div #footer-cname-li > span {
    margin-right: 4%;
    margin-left: 8%;
}
#footer-cname-li {
    font-weight: bold;
}
#footer-tel-a {
    color: rgb(154,153,152);
    text-decoration: none;
}
#footer-tel-a:hover {
    color: rgb(255,255,255);
}