/*footer*/

#myFooter {
    padding: 0;
}
#footer-bran-div {
    padding: 5% 2%;
    background-color:rgb(48,49,50);
    font-size: 1vw;
}
#footer-bran-div ul li {
    line-height: 2em;
}
#footer-bran-div ul li > a {
    color: rgb(154,153,152);
    text-decoration: none;
    font-size: 1vw;
}
#footer-bran-div ul li > a:hover {
    color: rgb(255,255,255);
}
#footer-div {
    width: 100%;
    background-color: rgb(0,0,1);
    padding: 4% 8%;
}
#footer-div > ul {
}
#footer-div > ul > li {

    display: inline;
    color: rgb(154,153,152);
    font-size: 1vw;
    margin-right: 4%;
}
#footer-div #footer-cname-li > span {
    margin-right: 4%;
    margin-left: 8%;
}
#footer-cname-li {
    font-weight: bold;
}
#footer-tel-a {
    color: rgb(154,153,152);
    text-decoration: none;
}
#footer-tel-a:hover {
    color: rgb(255,255,255);
}