.nav-a {
    font-size: 16px!important;
    border-top-width: 0.5em!important;
    border-top-style: solid;
    border-top-color: transparent;
}
.none-div {
    display: none;
}
#menu > ul > li > a:hover,
#menu .nav-active {
    background-color: #080808;
    /*border-top-width: 0.5em;*/
    border-top-color: #d58512;
    color: #7a4300;

}
.mySection{
    margin-top: 40px;
}
 ul li{
     list-style: none;
}
#home #mycarousel .carousel-img {

}
/*水平分割线*/
.myHr{
    /*width: 80%;*/
    height: 1px;
    border-top: 1px solid #0f0f0f;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 8%;
    border-color: rgb(189,190,190);
    font-size: 1.4vw;
}
.myHr span{
    position: relative;
    background: #fff;
    top: -0.8em;
    padding: 0 10px;
    font-size: 1.4vw;
    color: rgb(98,99,100);
}
.myHr span {

}
/*公司简介*/
#introduction-div {
    /*width: 80%;*/
    background-color: rgb(67,68,69);
}
#introduction-p{
    font-family: Arial;
    line-height: 2em;
    font-size: 1vw;
    padding: 8% 10% 8%;
    color: rgb(154,153,152);
    white-space: pre-wrap;
}
.mySection > .container > div {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}
/*brand*/
#all-product {
   width: 80%;
   background-image: url('../img/3.jpg');
   height: 27vw;
   /*height: 25vh;*/
}
.product-div {
    display: inline-block;
    width: 25%;
    height: 100%;
    border-right-width: 1px;
    border-right-color: grey;
    border-right-style: solid;
}
.product-div:hover {
    background-color: rgba(0,0,0,0.5);
}
.logo-div  {
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 70%;
    width: 50%;
}
/*why*/
#why-container {
   padding: 0px;
}
#greyDiv {
    background-color: grey;
    width: 40%;
    float: left;
    padding-left: 5%;

}
#blackDiv {
    background-color: black;
}
#hourImg {
   width: 60%;
}
#why-div {
    background-color: red;
    float: left;
    width: 60%;
}
#why-span {
    font-weight: bold;
}
/*contact*/
#contact {
    margin-top: 20vh;
}
#contact-container {
    padding: 0;
}
#contact-div1  {
    background-color: grey;
    text-align: center;
    padding : 5vh

}
#contact-div1 > div{
    display: inline-block;
    background-color: black;
    color: white;
    padding:2vh 3vh 2vh 3vh;
    margin-right: 1vh;
}
#contact-div2 {

}
.contact-div-span {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border-bottom: 1px grey solid;
    padding: 2%;
}
#contact-div-span3 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 2%;
}
#contact-span1 {
    font-size: 0.2vw;

}
#contact-span2 {
    font-size: 1vw;
    font-weight: bold;
}
#contact-span3 {
    font-size: 0.7vw;
}
/*.contact-hr {*/
/*    border-top: 1px solid grey;*/
/*}*/
/*footer*/
#myFooter {
    padding: 0;
}
#footer-bran-div {
    padding: 5% 2%;
    background-color:rgb(48,49,50);
    font-size: 1vw;
}
#footer-bran-div ul li {
    line-height: 2em;
}
#footer-bran-div ul li > a {
    color: rgb(154,153,152);
    text-decoration: none;
    font-size: 1vw;
}
#footer-bran-div ul li > a:hover {
    color: rgb(255,255,255);
}
#footer-div {
    width: 100%;
    background-color: rgb(0,0,1);
    padding: 4% 8%;
}
#footer-div > ul {
}
#footer-div > ul > li {

    display: inline;
    color: rgb(154,153,152);
    font-size: 1vw;
    margin-right: 4%;
}
#footer-div #footer-cname-li > span {
    margin-right: 4%;
    margin-left: 8%;
}
#footer-cname-li {
    font-weight: bold;
}
#footer-tel-a {
    color: rgb(154,153,152);
    text-decoration: none;
}
#footer-tel-a:hover {
    color: rgb(255,255,255);
}
/*#footer-div > ul > li:first-child {*/
/*    border-right-width: 1px;*/
/*    border-color: rgb(154,153,152);*/
/*    border-right-style: solid;*/
/*}*/
/*#img1 {*/
/*    background-image: url("../img/1.jpg");*/
/*}*/