
.mySection{
    margin-top: 40px;
}
 ul li{
     list-style: none;
}
 .none-div{
     display: none;
 }
/*水平分割线*/
.myHr{
    /*width: 80%;*/
    height: 1px;
    border-top: 1px solid #0f0f0f;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 8%;
    border-color: rgb(189,190,190);
    font-size: 1.4vw;
}
.myHr span{
    position: relative;
    background: #fff;
    top: -0.8em;
    padding: 0 10px;
    font-size: 1.4vw;
    color: rgb(98,99,100);
}
.myHr span {

}
/*公司简介*/
#introduction-div {
    /*width: 80%;*/
    background-color: rgb(67,68,69);
}
#introduction-p{
    font-family: Arial;
    line-height: 2em;
    font-size: 1vw;
    padding: 8% 10% 8%;
    color: rgb(154,153,152);
    white-space: pre-wrap;
}
.mySection > .container > div {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}
/*brand*/
#all-product {
   /*width: 80%;*/
   background-image: url('../img/bran.png');
   height: 27vw;
   background-size: cover;
}
.product-div {
    display: inline-block;
    width: 25%;
    height: 100%;
    border-right-width: 1px;
    border-right-color: grey;
    border-right-style: solid;
}
.product-div:hover {
    background-color: rgba(0,0,0,0.5);
}
.logo-div  {
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    top: 60%;
    width: 50%;
}
/*why*/
#why-container {
   padding: 0px;
}
#why-div {
}
#greyDiv {
    display: inline-block;
    background-color: grey;
    width: 20vw;
    height: 20vw;
    float: left;
    padding-left: 10vw;
    padding-top: 10vw;
    margin-right: 10vw;
    margin-left: 10vw;

}
#blackDiv {
    background-color: black;
    width:15vw;
    height: 15vw;
    line-height: 15vw;
    text-align: center;
}
#hourImg {
   width: 60%;
   vertical-align: middle;
}
#why-text-div {
    display: inline-block;
    background-color: white;
    width: 40vw;
    height: 25vw;
    font-size: 1vh;
    font-family: Arial;
}
#why-text-div > p {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(0,0,1);
    white-space: pre-wrap;
}
#why-h1-span {
    font-size : 3em;
    font-family: Arial;
    font-weight: bold;
}
#why-span {
    font-size: 1em;
    font-family: Arial;
    font-weight: bold;
}

/*.contact-hr {*/
/*    border-top: 1px solid grey;*/
/*}*/

/*#footer-div > ul > li:first-child {*/
/*    border-right-width: 1px;*/
/*    border-color: rgb(154,153,152);*/
/*    border-right-style: solid;*/
/*}*/
/*#img1 {*/
/*    background-image: url("../img/1.jpg");*/
/*}*/