.nav-a {
    font-size: 16px!important;

    border-top-style: solid;
    border-top-color: transparent;
}
.none-div {
    display: none;
}
.containerHeader {
    width: 1140px;
    margin: 0 auto;
}
#menu {
    padding-left: 50px;
    background: #2b2b2b;
}
#menu > ul > li {
    float: left;
    margin-right: 45px;
    padding: 0 12px;
}
#menu > ul > li > a:hover,
#menu .nav-active {
    background-color: #000;
    /*border-top-width: 0.5em;*/
    border-top-color: #e63e0d;
    color: #fff;

}

.navbar-inverse {
    background: #2b2b2b!important;
}
.headerNav {
    top: 65px!important;
}
.navbar-fixed-top {
    
    height: 58px;
}

ul li{
    list-style: none;
}

.header-one{
    background: #444;
    height: 65px;
    color: #848484;
    position: fixed;
    z-index: 1030;
    top:0;
    width:100%;
}
.company {
    width: 1070px;
    margin: 0 auto;
    line-height: 86px;
    font-size: 18px;
    padding-left: 41px;
}
.navbar-nav > li > a {
    padding-top: 17px!important;
    padding-bottom: 17px!important;
}